---
export interface Props {
	title: string
  description: string
  content: string
  pricing: string
}

const { title, description, content, pricing } = Astro.props as Props;
---

<div class="card">
  <div class="card-image">
    <figure class="image is-1by1">
      <img src="https://bulma.io/images/placeholders/480x480.png" alt="Placeholder image" />
    </figure>
    <span class="tag is-success is-large">{pricing}</span>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image" />
        </figure>
      </div>
      <div class="media-content">
        <h2 class="title">{title}</h2>
        <p class="subtitle is-6">{description}</p>
      </div>
    </div>

    <div class="content" set:html={content}>
    </div>
  </div>
</div>

<style>
  .card .tag {
    position: absolute;
    top: 10px;
    left: 10px;
  }
</style>
