---
// Carousel

import SwiperCarousel from "../components/SwiperCarousel.jsx"
import * as data from '../data/features.md'
---
<section id="carousel">
  <div class="container">
    <SwiperCarousel slides={data} client:idle />
  </div>
</section>
