---
// Location

import * as data from '../data/rates.md'

const content = data.compiledContent()

---
<section id="location" class="p-5">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <h2 class="is-size-2">Location</h2>
      </div>
      <div class="column is-half">
        Insert Map Here
      </div>
    </div>
  </div>
</section>
<style>
</style>
