.navbar-item {
  color: #000;
  font-weight: 700;
  font-size: 1.25rem;
}
.navbar-item button {
  font-weight: 700;
  font-size: 1.25rem;
}
.in-motion .navbar {
  background-color: rgba(255,255,255, 0.7);
}