---
// Header

import * as data from '../data/navigation.md';

import Button from "../components/Button.jsx";
import NavBarItem from "../components/NavBarItem.jsx"

const logo = data.frontmatter.logo
const headerLinks = data.frontmatter.links

---
<nav class="navbar is-transparent is-fixed-top">
  <div class="navbar-brand">
    <!-- <a class="navbar-item" href="/">
      <img src={logo} alt="" width="86" height="60">
    </a> -->
    <div class="navbar-burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      
    </div>

    <div class="navbar-end">
      {headerLinks.map((item:any) => <NavBarItem title={item.title} url={item.url} />)}

      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <Button text="Call" type="is-link is-outlined" client:idle />
          </p>
        </div>
      </div>
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <Button text="Book Now" type="is-link" client:idle />
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
<style>
  .navbar {
    background: transparent;
    margin: 1rem;
  }
  .navbar-item img {
    max-height: none;
}
</style>
