---
// Header
import * as data from '../data/navigation.md';

import Button from "../components/Button/Button.jsx";
import NavBarItem from "../components/NavBarItem.jsx"

const title = data.frontmatter.title
const logo = data.frontmatter.logo
const headerLinks = data.frontmatter.links

function handleOnClick() {
  console.log('Hello, Astro!');
}

---
<nav class="navbar is-transparent is-fixed-top">
  <div class="navbar-brand">
    <h1><a href="#">{title}</a></h1>
    <span class="is-hidden-desktop">
      <Button text="" icon="menu" type="is-link is-outlined" handler={() => console.log('Hello, Astro!')} url="#" client:load />
    </span>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start"></div>

    <div class="navbar-end">
      {headerLinks.map((item:any) => <NavBarItem title={item.title} url={item.url} />)}

      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <Button text="Book Now" icon="clock" type="is-link" handler={handleOnClick} url="#book-now" client:idle />
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
<style>
  h1 a {
    font-family: "Kavoon", cursive;
    font-size: 2rem;
    font-weight: 900;
    color: #000;
  }
  .navbar {
    background: transparent;
  }
  .navbar .navbar-item {
    font-size: 1rem;
    color: #000 !important;
    font-weight: bold;
  }
  .navbar-item img {
    max-height: none;
  }
  .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
  }
  .navbar-brand h1 a {
    font-size: 1.5rem;
  }
</style>
