---
// Hero

import SwiperCarousel from "../components/SwiperCarousel.jsx";
---
<section class="hero is-medium is-link">
  <div class="hero-body">
    <p class="title">
      Medium hero
    </p>
    <p class="subtitle">
      Medium subtitle
    </p>
  </div>
</section>
<section id="carousel">
  <div class="container">
    <SwiperCarousel client:idle />
  </div>
</section>
