:global(html) {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}
@media (prefers-reduced-motion: reduce) {
   :global(html) {
     scroll-behavior: auto;
   }
 }
:root {
  --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
}

.max-height { 
  height: 100%;
}

.margin-top-auto {
  margin-top:auto;
}

.text-gradient {
  font-weight: 900;
  background-image: var(--astro-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% 200%;
  background-position-y: 100%;
  border-radius: 0.4rem;
  animation: pulse 4s ease-in-out infinite;
}
h2 {
  font-family: "Allura", cursive;
  font-weight: 900;
  font-size: 3rem;
}
h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.75rem;
}
p {
  margin-bottom: 1rem;
}